:host {
  position: relative;
  display: block;
  height: calc(100vh - 70px);
  padding: 40px;
  background-color: rgba(#ffd633, .9);
  box-sizing: border-box;
  overflow-y: auto;
}

.weather-statistics {
  &__title {
    margin: 0;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__chart {
    margin-top: 40px;
  }

  &__warning {
    margin-top: 60px;
    font-size: 20px;
    line-height: 20px;

    span {
      font-weight: bold;
      &:not(:last-child) {
        &::after {
          content: ', ';
        }
      }
    }
  }

  &__graph {
    margin-top: 80px;

    &-title {
      text-align: center;
      font-size: 24px;
    }
  }

  &__period {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 40px;
    background-color: #ff9900;

    &-item {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: 0 20px;
      cursor: pointer;

      &.__active {
        background-color: #ffad33;
      }
    }
  }
}
