<div class="home__image-block">
  <img src="../../../assets/images/bees.jpg"
       alt=""
       class="home__image">
</div>
<div class="home__how-it-works">
  <p class="home__title">{{'how-it-works' | translate}}</p>
  <div class="home__how-it-works-grid">
    <div class="home__grid-item">
      <mat-icon svgIcon="hive"
                class="home__grid-item-icon">
      </mat-icon>
      <p class="home__grid-item-text">{{'sensors-gather' | translate}}</p>
    </div>
    <div class="home__grid-item">
      <mat-icon svgIcon="mobile"
                class="home__grid-item-icon">
      </mat-icon>
      <p class="home__grid-item-text">{{'worker-works' | translate}}</p>
    </div>
    <div class="home__grid-item">
      <mat-icon svgIcon="chart-line"
                class="home__grid-item-icon">
      </mat-icon>
      <p class="home__grid-item-text">{{'admin-works' | translate}}</p>
    </div>
  </div>
</div>
<div class="home__advantage">
  <p class="home__title">{{'our-advantages' | translate}}</p>
  <div class="home__advantage-grid">
    <div class="home__grid-item">
      <mat-icon svgIcon="clock"
                class="home__grid-item-icon">
      </mat-icon>
      <p class="home__grid-item-text">{{'device-quick-work' | translate}}</p>
    </div>
    <div class="home__grid-item">
      <mat-icon svgIcon="image"
                class="home__grid-item-icon">
      </mat-icon>
      <p class="home__grid-item-text">{{'intuitive-interface' | translate}}</p>
    </div>
    <div class="home__grid-item">
      <mat-icon svgIcon="bee"
                class="home__grid-item-icon">
      </mat-icon>
      <p class="home__grid-item-text">{{'swarm-prediction' | translate}}</p>
    </div>
    <div class="home__grid-item">
      <mat-icon svgIcon="sun"
                class="home__grid-item-icon">
      </mat-icon>
      <p class="home__grid-item-text">{{'beehive-tracking' | translate}}</p>
    </div>
  </div>
</div>
<div class="home__about-us">
  <p class="home__title">{{'about-us' | translate}}</p>
  <p class="home__about-us-text">{{'our-project' | translate}}</p>
  <div class="home__contacts">
    <div class="home__contacts-item">
      <mat-icon svgIcon="phone"
                class="home__contacts-item-icon">
      </mat-icon>
      <p class="home__contacts-item-text">+38099999999</p>
    </div>
    <div class="home__contacts-item">
      <mat-icon svgIcon="email"
                class="home__contacts-item-icon">
      </mat-icon>
      <p class="home__contacts-item-text">beekeeper@gmail.com</p>
    </div>
  </div>
</div>
