:host {
  display: block;
  position: relative;
}

.add-hive {
  &__title {
    font-size: 20px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__add-button {
    width: fit-content;
    margin-top: 20px;
    padding: 0 20px;
    font-size: 16px;
  }
}
