mat-icon {
  &.login__icon {
    height: 80px !important;
    width: 80px !important;
    margin-top: 30px;
  }

  &.login__cross {
    width: 20px !important;
    height: 20px !important;
    color: #808080;
    cursor: pointer;
  }

  &.login__eye {
    margin-right: 10px;
    color: #3f51b5;
    cursor: pointer;
  }
}
