mat-icon {
  &.login__icon {
    height: 80px !important;
    width: 80px !important;
    margin-top: 30px;
  }

  &.login__cross {
    width: 20px !important;
    height: 20px !important;
    color: #808080;
    cursor: pointer;
  }

  &.login__eye {
    margin-right: 10px;
    color: #3f51b5;
    cursor: pointer;
  }

  &.login__back-icon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

  &.pages__logo {
    height: 50px !important;
    width: 50px !important;
    color: #ff9900;
    outline: none;
    cursor: pointer;

    &:hover {
      color: #b36b00;
    }
  }

  &.pages__login-state-icon {
    height: 22px !important;
    width: 22px !important;
    margin-right: 10px;
    color: #808080;
  }

  &.pages__lock-icon {
    position: absolute;
    width: 15px !important;
    height: 15px !important;
    right: 0;
    top: 12px;
    color: #ff9900;
  }

  &.home__grid-item-icon {
    height: 100px;
    width: 100px;
  }

  &.home__contacts-item-icon {
    height: 35px;
    width: 35px;
    margin-right: 20px;
  }

  &.hive-statistics__delete-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  &.add-beehive__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
